[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
scikit-learn-intelex = "*"
ipykernel = "*"
daal4py = "*"
tensorflow = "==2.15.0"
intel-extension-for-tensorflow = {extras = ["cpu"], version = "*"}
ai-benchmark = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11"

[pipenv]
allow_prereleases = true
