[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
scikit-learn-intelex = "*"
ipykernel = "*"
daal4py = "*"
tensorflow = "==2.12.0"
ai-benchmark = "*"
numpy = "*"
tf2onnx = "*"
onnx = "*"
onnxruntime = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11"

[pipenv]
allow_prereleases = true
